@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-200 antialiased overflow-hidden;
        background-image: 
            radial-gradient(circle at 50% 50%, #1e293b 1px, transparent 1px),
            radial-gradient(circle at 100% 0%, rgba(52, 211, 153, 0.1) 0%, transparent 50%);
        background-size: 24px 24px, 100% 100%;
    }
}

/* Custom Scrollbar for Spy Terminal Feel */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-emerald-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-500;
}

.scanline {
    width: 100%;
    height: 100px;
    z-index: 999;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(52, 211, 153, 0.03) 50%, rgba(0,0,0,0) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: -10%;
    }
}
